spring:
    thymeleaf: # Thymeleaf
      cache: false
      mode: HTML
      encoding: UTF-8
      prefix: file:src/main/resources/templates/
    datasource:
      url: jdbc:mysql://localhost:3306/movielist
      username: root
      password: root
      driver-class-name: com.mysql.cj.jdbc.Driver
    jpa:
      database-platform: org.hibernate.dialect.MySQL8Dialect
      show-sql: true
    web:
      resources:
        static-locations: file:src/main/resources/static/
        cache:
          period: 0
rest:
  tmdb:
    url: ${tmdb_url:https://api.themoviedb.org/3}
    token: ${tmdb_token:eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIxNzc0Zjc1ZDI5MDFmNWY0YzQxZGIyMjE1OGE0OTlmNiIsInN1YiI6IjY1NTgwNWE4ZWE4NGM3MTA5NmRlNjY5MSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.OTSmovVYpYKJMydsxtRGs5I6JnSMCp6qMNjcYLyLedA}
    key: ${tmdb_key:1774f75d2901f5f4c41db22158a499f6}
